### Creating a Series from a List

In [2]:
import pandas as pd

In [3]:
# Creating a list
data = [10, 20, 30, 40, 50]

# Creating a Pandas Series
series = pd.Series(data)

# Display the Series
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

### Creating a Series with Custom Index

In [4]:
data = [100, 200, 300, 400]
index = ['a', 'b', 'c', 'd']

series = pd.Series(data, index=index)
print(series)

a    100
b    200
c    300
d    400
dtype: int64

### Creating a Series from a Dictionary

In [5]:
# A dictionaryâ€™s keys become the index, and values become the Series values.
data = {'Alice': 85, 'Bob': 90, 'Charlie': 95}

series = pd.Series(data)
print(series)

Alice      85
Bob        90
Charlie    95
dtype: int64

### Creating a Series with a Scalar Value

In [6]:
#A scalar value will be repeated for the given index labels.
series = pd.Series(5, index=['a', 'b', 'c', 'd'])
print(series)

a    5
b    5
c    5
d    5
dtype: int64

### Creating a Series from a NumPy Array

In [7]:
import numpy as np

In [8]:
array = np.array([1, 2, 3, 4, 5])
series = pd.Series(array)

print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

### **Properties of a Pandas Series**

###dtype (Data Type)

In [10]:
# Returns the data type of the elements in the Series.


s = pd.Series([10., 20., 30., 40.])
print(s.dtype)

float64

###shape (Size of the Series)

In [11]:
#Returns the shape of the Series as a tuple (rows,).
print(s.shape)

(4,)

### size (Total Number of Elements)

In [12]:
#Returns the total number of elements in the Series (similar to len(series)).
print(s.size)

4

###index (Index Labels)

In [13]:
#Returns the index labels of the Series.
print(s.index)

RangeIndex(start=0, stop=4, step=1)

###values (Underlying Data as NumPy Array)

In [14]:
#Returns the values in the Series as a NumPy array.
print(s.values)

[10. 20. 30. 40.]

###name (Name of the Series)

In [15]:
#Assigns or retrieves the name of the Series.
s.name = "Numbers"
print(s.name)

Numbers

###empty (Check if the Series is Empty)

In [16]:
#Returns True if the Series is empty, otherwise False.
s_empty = pd.Series([])
print(s_empty.empty)

True

###. hasnans (Check if the Series Contains NaN Values)

In [17]:
#Returns True if there are NaN (missing) values in the Series.
s_nan = pd.Series([1, 2, None, 4])
print(s_nan.hasnans)

True

###unique() (Get Unique Values)

In [18]:
#Returns the unique elements in the Series.
s_dup = pd.Series([1, 2, 2, 3, 4, 4])
print(s_dup.unique())

[1 2 3 4]

###nunique() (Count Unique Values)

In [23]:
#Returns the number of unique elements in the Series.
s_dup = pd.Series([1, 2, 2, 3, 4, 4])
print(s_dup.nunique())

4

###count() (Count Non-NaN Values)

In [24]:
#Counts the number of non-null values in the Series.
s_nan = pd.Series([1, 2, None, 4])
print(s_nan.count())

3

###describe() (Summary Statistics)

In [25]:
#Returns statistical information about a numerical Series.

s = pd.Series([10., 20., 30., 40.])
print(s.describe())

count     4.000000
mean     25.000000
std      12.909944
min      10.000000
25%      17.500000
50%      25.000000
75%      32.500000
max      40.000000
dtype: float64