<a href="https://colab.research.google.com/github/sanjeevan-nxtworx/Pandas/blob/main/02_Pandas_Series_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

#**Arithmetic Operations on Series**

In [4]:
# Sample Series
sales = pd.Series([100, 200, 300, 400, 500])

In [5]:
# Addition
print(sales + 10)

0    110
1    210
2    310
3    410
4    510
dtype: int64

In [6]:
# Subtraction
print(sales - 10)

# Multiplication
print(sales * 2)

# Division
print(sales / 2)

# Power
print(sales ** 2)

0     90
1    190
2    290
3    390
4    490
dtype: int64
0     200
1     400
2     600
3     800
4    1000
dtype: int64
0     50.0
1    100.0
2    150.0
3    200.0
4    250.0
dtype: float64
0     10000
1     40000
2     90000
3    160000
4    250000
dtype: int64