<a href="https://colab.research.google.com/github/sanjeevan-nxtworx/Pandas/blob/main/02_Pandas_Series_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

#**Arithmetic Operations on Series**

In [4]:
# Sample Series
sales = pd.Series([100, 200, 300, 400, 500])

In [5]:
# Addition
print(sales + 10)

0    110
1    210
2    310
3    410
4    510
dtype: int64

In [6]:
# Subtraction
print(sales - 10)

# Multiplication
print(sales * 2)

# Division
print(sales / 2)

# Power
print(sales ** 2)

0     90
1    190
2    290
3    390
4    490
dtype: int64
0     200
1     400
2     600
3     800
4    1000
dtype: int64
0     50.0
1    100.0
2    150.0
3    200.0
4    250.0
dtype: float64
0     10000
1     40000
2     90000
3    160000
4    250000
dtype: int64

#Statistical Operations

In [7]:
#Pandas provides built-in methods to compute statistics.
print("Sum:", sales.sum())      # Total sum
print("Mean:", sales.mean())    # Average
print("Median:", sales.median()) # Median
print("Min:", sales.min())      # Minimum value
print("Max:", sales.max())      # Maximum value
print("Standard Deviation:", sales.std())  # Standard deviation
print("Variance:", sales.var()) # Variance
print("Count:", sales.count())  # Non-null count

Sum: 1500
Mean: 300.0
Median: 300.0
Min: 100
Max: 500
Standard Deviation: 158.11388300841898
Variance: 25000.0
Count: 5

#**Logical & Comparison Operations**

In [8]:
print(sales > 250)    # Returns boolean values

0    False
1    False
2     True
3     True
4     True
dtype: bool

In [9]:
print(sales == 300)   # Checks equality
print(sales < 200)    # Less than

0    False
1    False
2     True
3    False
4    False
dtype: bool
0     True
1    False
2    False
3    False
4    False
dtype: bool

###**Filtering Elements**

In [10]:
#You can filter elements based on conditions.
# Get values greater than 250
filtered_series = sales[sales > 250]
print(filtered_series)

2    300
3    400
4    500
dtype: int64

###**Indexing and Slicing**

In [11]:
print(sales[0])     # Access first element
print(sales[:3])    # First three elements
print(sales[-2:])   # Last two elements

100
0    100
1    200
2    300
dtype: int64
3    400
4    500
dtype: int64

###**Sorting a Series**

In [12]:
# Sorting values in ascending order
print(sales.sort_values())

# Sorting values in descending order
print(sales.sort_values(ascending=False))

0    100
1    200
2    300
3    400
4    500
dtype: int64
4    500
3    400
2    300
1    200
0    100
dtype: int64

###**Handling Missing Values**

In [13]:
sales_with_nan = pd.Series([100, 200, None, 400, 500])

In [14]:
# Check for NaN values
print(sales_with_nan.isna())

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [15]:
# Fill NaN values with a default value
print(sales_with_nan.fillna(0))

0    100.0
1    200.0
2      0.0
3    400.0
4    500.0
dtype: float64

In [16]:
# Drop NaN values
print(sales_with_nan.dropna())

0    100.0
1    200.0
3    400.0
4    500.0
dtype: float64

###**Unique Values and Value Counts**

In [17]:
sales_dup = pd.Series([100, 200, 100, 300, 200, 400])

In [18]:
print("Unique Values:", sales_dup.unique()) # Get unique values

Unique Values: [100 200 300 400]

In [19]:
print("Value Counts:\n", sales_dup.value_counts()) # Frequency count

Value Counts:
 100    2
200    2
300    1
400    1
Name: count, dtype: int64

###**Applying Functions**

In [20]:
# Apply a custom function
print(sales.apply(lambda x: x * 1.1))  # Increase by 10%

0    110.0
1    220.0
2    330.0
3    440.0
4    550.0
dtype: float64

###**String Operations (for text data)**

In [21]:
names = pd.Series(["Alice", "Bob", "Charlie", "David"])

print(names.str.lower())   # Convert to lowercase
print(names.str.upper())   # Convert to uppercase
print(names.str.contains("o"))  # Check if contains 'o'

0      alice
1        bob
2    charlie
3      david
dtype: object
0      ALICE
1        BOB
2    CHARLIE
3      DAVID
dtype: object
0    False
1     True
2    False
3    False
dtype: bool

###**Combining Two Series**

In [22]:
sales1 = pd.Series([100, 200, 300])
sales2 = pd.Series([400, 500, 600])

combined = sales1 + sales2  # Adds element-wise
print(combined)

0    500
1    700
2    900
dtype: int64

###**Cumulative Operations**

In [23]:
print(sales.cumsum())  # Cumulative sum
print(sales.cumprod()) # Cumulative product

0     100
1     300
2     600
3    1000
4    1500
dtype: int64
0              100
1            20000
2          6000000
3       2400000000
4    1200000000000
dtype: int64