<a href="https://colab.research.google.com/github/sanjeevan-nxtworx/Pandas/blob/main/05_Creating_a_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###**Creating a Pandas Data Frame**

In [ ]:
import pandas as pd

###Using a Python Dictionary

In [ ]:
# Creating a dictionary
data = {
    "Country": ["USA", "Canada", "UK", "Germany", "France", "Japan", "India", "Australia", "Brazil", "Russia"],
    "City": ["New York", "Toronto", "London", "Berlin", "Paris", "Tokyo", "Mumbai", "Sydney", "São Paulo", "Moscow"],
    "Population": [8419600, 2930000, 8982000, 3769000, 2148000, 13929000, 12691836, 5312000, 12330000, 11920000]
}

# Converting dictionary to DataFrame
df = pd.DataFrame(data)

In [ ]:
print (df)

     Country       City  Population
0        USA   New York     8419600
1     Canada    Toronto     2930000
2         UK     London     8982000
3    Germany     Berlin     3769000
4     France      Paris     2148000
5      Japan      Tokyo    13929000
6      India     Mumbai    12691836
7  Australia     Sydney     5312000
8     Brazil  São Paulo    12330000
9     Russia     Moscow    11920000

### Creating a DF using a list of lists

In [ ]:
# Creating a list of lists
data = [
    ["USA", "New York", 8419600],
    ["Canada", "Toronto", 2930000],
    ["UK", "London", 8982000],
    ["Germany", "Berlin", 3769000],
    ["France", "Paris", 2148000],
    ["Japan", "Tokyo", 13929000],
    ["India", "Mumbai", 12691836],
    ["Australia", "Sydney", 5312000],
    ["Brazil", "São Paulo", 12330000],
    ["Russia", "Moscow", 11920000]
]

# Creating a DataFrame with column names
df = pd.DataFrame(data, columns=['Country', 'City', 'Population'])

# Display the DataFrame
print(df)

     Country       City  Population
0        USA   New York     8419600
1     Canada    Toronto     2930000
2         UK     London     8982000
3    Germany     Berlin     3769000
4     France      Paris     2148000
5      Japan      Tokyo    13929000
6      India     Mumbai    12691836
7  Australia     Sydney     5312000
8     Brazil  São Paulo    12330000
9     Russia     Moscow    11920000

### Create a DF using a list of dictionaries

In [ ]:
data_list_of_dicts = [
    {"Country": "USA", "City": "New York", "Population": 8419600},
    {"Country": "Canada", "City": "Toronto", "Population": 2930000},
    {"Country": "UK", "City": "London", "Population": 8982000},
    {"Country": "Germany", "City": "Berlin", "Population": 3769000},
    {"Country": "France", "City": "Paris", "Population": 2148000},
    {"Country": "Japan", "City": "Tokyo", "Population": 13929000},
    {"Country": "India", "City": "Mumbai", "Population": 12691836},
    {"Country": "Australia", "City": "Sydney", "Population": 5312000},
    {"Country": "Brazil", "City": "São Paulo", "Population": 12330000},
    {"Country": "Russia", "City": "Moscow", "Population": 11920000}
]

# Display the list of dictionaries
print(data_list_of_dicts)
df = pd.DataFrame(data_list_of_dicts)
print(df)

[{'Country': 'USA', 'City': 'New York', 'Population': 8419600}, {'Country': 'Canada', 'City': 'Toronto', 'Population': 2930000}, {'Country': 'UK', 'City': 'London', 'Population': 8982000}, {'Country': 'Germany', 'City': 'Berlin', 'Population': 3769000}, {'Country': 'France', 'City': 'Paris', 'Population': 2148000}, {'Country': 'Japan', 'City': 'Tokyo', 'Population': 13929000}, {'Country': 'India', 'City': 'Mumbai', 'Population': 12691836}, {'Country': 'Australia', 'City': 'Sydney', 'Population': 5312000}, {'Country': 'Brazil', 'City': 'São Paulo', 'Population': 12330000}, {'Country': 'Russia', 'City': 'Moscow', 'Population': 11920000}]
     Country       City  Population
0        USA   New York     8419600
1     Canada    Toronto     2930000
2         UK     London     8982000
3    Germany     Berlin     3769000
4     France      Paris     2148000
5      Japan      Tokyo    13929000
6      India     Mumbai    12691836
7  Australia     Sydney     5312000
8     Brazil  São Paulo    12330000
9     Russia     Moscow    11920000

''

### Creating a DataFrame from a Simple List (Single Column)

In [ ]:
data = [10, 20, 30, 40, 50]

df = pd.DataFrame(data, columns=['Numbers'])
print(df)

   Numbers
0       10
1       20
2       30
3       40
4       50

### Creating a DataFrame with Custom Index

In [ ]:
data = [['Alice', 25], ['Bob', 30], ['Charlie', 35]]
df = pd.DataFrame(data, columns=['Name', 'Age'], index=['A', 'B', 'C'])
print(df)

      Name  Age
A    Alice   25
B      Bob   30
C  Charlie   35